* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

body {
  background-color: #ffffff;
  background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
  background-color: #f6f6fe;
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  color: #494c5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  font-size: x-large;
  padding-bottom: 20px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b3b5c6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

section div {
  font-size: x-small;
  padding: 10px 15px 10px 15px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  font-size: 300%;
  border-bottom: solid 0.5px #b3b5c6;
  padding-bottom: 20px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  display: inline-block;
}

article {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 10px 10px;
  padding: 25px 20px;
  height: 299px;
  box-shadow: 6px 13px 22px -7px rgba(94, 67, 105, 0.31);
  -webkit-box-shadow: 6px 13px 22px -7px rgba(94, 67, 105, 0.31);
  -moz-box-shadow: 6px 13px 22px -7px rgba(94, 67, 105, 0.31);
}

article div {
  color: #6d708d;
  display: inline-block;
  font-size: x-small;
  border-bottom: solid 0.5px #b3b5c6;
  margin: 0;
  text-align: center;
  width: 203.80px;
  padding: 10px 0px 10px 0px;
}

article button {
  background: linear-gradient(500deg, #a3a8f0 20%, #696fdd 61%);
  color: #ffffff;
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  font-size: xx-small;
  border: none;
  border-radius: 5px;
}

article button:hover {
  background-color: white;
  background: none;
  color: #696fdd;
  border: solid 0.5px;
}

h1::before {
  font-size: x-large;
  content: "$";
  margin-right: 5px;
  position: relative;
  bottom: 8px;
}

.Active {
  background-color: #696fdd;
  color: white;
  background: #a3a8f0;
  background: linear-gradient(500deg, #a3a8f0 20%, #696fdd 61%);
  width: auto;
  height: 100%;
  position: relative;
  bottom: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Active h1 {
  border-color: #a3a8f0;
}

.Active button {
  color: #696fdd;
  background: linear-gradient(500deg, white 20%, white 61%);
}

.Active button:hover {
  background-color: #696fdd;
  background: none;
  color: white;
  border: solid 0.5px;
  padding: 4.5px;
}

.Active div {
  color: white;
  border-color: #a3a8f0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(500deg, #a3a8f0 20%, #696fdd 61%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:hover + .slider {
  background: none;
  background-color: #a3a8f0;
}

input:checked + .slider {
  background-color: #a3a8f0;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #a3a8f0;
          box-shadow: 0 0 1px #a3a8f0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */